<?xml version="1.0" encoding="UTF-8"?>
<!--
Logging configuration for blockly.parallax.com

Valid logging levels: TRACE, DEBUG, INFO, WARN and ERROR
-->


<configuration>
    <property name="APP_LOG_PATH" value="${catalina.home}/logs"/>
    <property name="APP_LOG_FILE_BASE" value="blockly-app"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${APP_LOG_PATH}/${APP_LOG_FILE_BASE}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"blockly"}</customFields>
        </encoder>
    </appender>

    <logger name="com.parallax.server.blocklyprop" level="info">
        <appender-ref ref="file"/>
    </logger>

 
    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
